{% load static from staticfiles %}

/* misc layout */
html, body {
   font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

footer {
    margin-left: 2em;
}

div.month_caption {
    margin-top: 2em;
    margin-bottom: 1em;
    border-bottom: 2px solid black;
    text-align: right;
}

.titlemeta {
    font-size: 0.8em;
    font-style: italic;
}

/* jQuery ajax events */ 
img#ajaxload {
    position: fixed;
    left: 2em;
    top: 3.5em;
}


/* timespan chooser */
form#form_change_timespan {
    display: inline;
    height: 1.2em;
    line-height: 1.2em;
}

form#form_change_timespan input {
    display: inline;
}

div.input-daterange {
    display: inline;
}
input.btn_showtime {
    display: inline;
    margin-left: 1em;
}

div.timerangefilter {
    line-height: 4.2em;
    height: 4.2em;
}

/* post display */

ul.jumptomonth {
    
}

div#jumpToTop {
    display: hidden;
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: 10em;
    height: 1.5em;
}

button.post_show {
    margin-top: 1em;
    margin-bottom: 1em;
}

.ui-helper-hidden {
    display: none;
}

ul.month_content {
    list-style-type:none;
    font-size: 13px;
    line-height: 1.38;
}

p.comments_nocomments {
    font-style:italic;
    color: dark-grey;
    margin-top: -10px;
}

button.comment_toggle {
    margin-top: 0;
    margin-bottom: 1em;
}
a.post_details_link {
    margin-top: 0;
    margin-bottom: 1em;
}

li i.icon-thumbs-up {
    color: blue;
}

li.post_item {
}

blockquote.post_content {
}

li.post_item p.post_meta {
}

ul.post_comments {
    list-style-type:none;
}

li.comment_item {
}

li.comment_item p.comment_meta {
}

blockquote.comment_content {

}
/*ul.month_content list-style-type:none;
    li.post_item
        blockquote.post_content
        p.post_meta
        ul.post_comments list-style-type:none;
            li.comment_item
                p.comment_meta
            blockquote.comment_content*/

/* tagcloud */

    .tags ul{
        margin:1em 0;
        padding:.5em 10px;
        text-align:center;
        background:#71b5e9 url({% static "tagcloud/bg_tags.gif" %}) repeat-x;

        }
    .tags li{
        margin:0;
        padding:0;
        list-style:none;
        display:inline;
        }
    .tags li a{
        text-decoration:none;
        color:#fff;
        padding:0 2px;
        }
    .tags li a:hover{
        color:#cff400;
        }

    .tags .tag1{font-size:100%;}
    .tags .tag2{font-size:120%;}
    .tags .tag3{font-size:140%;}
    .tags .tag4{font-size:160%;}
    .tags .tag5{font-size:180%;}

    /* alternative layout */

    .tags .alt{
        text-align:left;
        padding:0;
        background:none;
        }
    .tags .alt li{
        padding:2px 10px;
        background:#efefef;
        display:block;
        }
    .tags .alt .tag1,
    .tags .alt .tag2,
    .tags .alt .tag3,
    .tags .alt .tag4,
    .tags .alt .tag5{font-size:100%;}
    .tags .alt .tag1{background:#7cc0f4;}
    .tags .alt .tag2{background:#67abe0;}
    .tags .alt .tag3{background:#4d92c7;}
    .tags .alt .tag4{background:#3277ad;}
    .tags .alt .tag5{background:#266ca2;}

